body {
    background-color:#F5F5DC;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
     width: 100%;
    height: 100%;
}
 
.navbar .navbar-nav {
        display: inline-block;
        float: none;
        margin: 0;
    }
 
    .navbar .navbar-collapse {
        text-align: center;
        margin:0;
    }
 
 
    .dropbtn {
    background-color: #800000;
    color: white;
    padding: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 200px;
    margin:0;
 
 
}
 
.dropdown {
    position: relative;
    display: inline-block;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 50px 50px 0px rgba(0,0,0,0.2);
    z-index: 1;
 
 
}
 
.dropdown-content a {
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    display: block;
}
 
.dropdown-content a:hover {  color:white; font-style: oblique;  font-weight: bold; background-color:#2F4F4F; }
 
.dropdown:hover .dropdown-content {
    display: block;
}
 
.dropdown:hover .dropbtn {
    background-color:  #262626;
}
 
.background {
    background-color:;
    width: 100%;
    height: 60%;
}
 
.text--line {
  font-size: .8em;
}
 
svg {
    /*background-color:#F5F5DC ;*/
  width: 100%;
  height: 60%;
}
 
 
.education {
    height: 100%;
    font: 12em/1 Arial;
    padding:50px 0 0 0;
}
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 9s infinite linear;
          animation: stroke-offset 9s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #008080;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #8B0000;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #8B0000;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #008080;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #8B0000;
  stroke-dashoffset: 35%;
}
 
@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 30.5%;
  }
}
 
@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 30.5%;
  }
}

.paragraph{
    text-align:justify;
    font-size:13pt;
    padding: 10px 325px 20px 325px;
    float: right;
    margin: 10px;
}
.photo{
    alt: Cinque Terre;
    width :888;
    height:500;
    style:padding: 0px 0 10px 0;
       display: block;
         margin-left: auto;
             margin-right: auto;
}
.header{
    text-align:center;
    font-size:100%;
     padding: 65px 0 0 0;
      font-weight: bold;

}
#style{
    font-style: oblique;
}
